@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>Welcome @ViewData["un"]</h1>
    
</div>
@{ 
	for(int i=1;i<=10;i++)
	{
		<h3>Welcome @ViewData["un"]</h3>
	}
}
