@model HandsMVCUsingComponents.Models.Student
@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>
<div class="container">
    <pre>
Id:@Model.Sid
Name:@Model.Sname
Age:@Model.Age
</pre>
<a href="GetAll">back</a>
</div>

