@model HandsOnMVCUsingViewModel.ViewModels.EmpWork;
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
	<pre>
ID:@Model.Eid
Name:@Model.Ename
Project Name:@Model.Pname
</pre>
</div>